<main>
  <link rel="stylesheet" href="/public/css/admin-pre-reg.css">
    <%- include('../partials/adminsidebar') %>
    <div id="main-wrapper">
      <div class="container-fluid">
        <div class="bg-white admin-pre-reg-onprocess-header shadow-sm p-3">
          <span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
          <h5 class="m-0 color-theme admin-pre-reg-onprocess-header-text d-inline-block">Pre Registration</h5>
          
         
          
        </div>

        <div class="pre-reg-on-process-sub-header alert-warning">
          <div class="row">
            <div class="col-md-4">
              <h1 class="pre-reg-on-process-sub-header-text">Export data to Excel</h1>
            </div>
            <div class="col-md-8">
              <form id="searchForm" action="/export-excel" method="GET" class="text-right">
                <div class="input-group">
                  <select id="barangayFilter" name="barangay" class="form-control">
                    <option value="" disabled selected>Select barangay</option>
                    <option value="all">All barangay</option>
                    <optgroup label="District 1">
                      <option value="Baclaran">Baclaran</option>
                      <option value="Don Galo">Don Galo</option>
                      <option value="La Huerta">La Huerta</option>
                      <option value="San Donisio">San Donisio</option>
                      <option value="San Isidro">San Isidro</option>
                      <option value="Santo Niño">Santo Niño</option>
                      <option value="Tambo">Tambo</option>
                      <option value="Vitalez">Vitalez</option>
                    </optgroup>
                    <optgroup label="District 2">
                      <option value="B.F Homes">B.F Homes</option>
                      <option value="Don Bosco">Don Bosco</option>
                      <option value="Marcelo Green">Marcelo Green</option>
                      <option value="Merville">Merville</option>
                      <option value="Moonwalk">Moonwalk</option>
                      <option value="San Antonio">San Antonio</option>
                      <option value="San Martin De Porres">San Martin De Porres</option>
                      <option value="San Valley">San Valley</option>
                    </optgroup>
                    <!-- Add other barangay options if needed -->
                  </select>

                  
                  <select id="barangayFilter" name="status" class="form-control">
                    <option value="" disabled selected>Select Status</option>
                    <option value="all">All Applicant</option>
                    <option value="onprocess">On Process</option>
                    <option value="qualified">Qualified</option>
                    <option value="disqualified">Disqualified</option>
                  </select>
                  <div class="input-group-append">
                    <button class="btn btn-danger" type="submit">
                      <i class="bi bi-download"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        
            
          
          




        <div class="pre-reg-on-process-sub-header alert-info">
          <div class="row">
            <div class="col-md-4">
              <h1 class="pre-reg-on-process-sub-header-text">On Process List</h1>
            </div>
            <div class="col-md-8">
              <form id="searchForm" action="/admin/admin-pre-reg" method="GET" class="text-right">
                <div class="input-group">
                  <input type="text" id="searchInput" name="query" placeholder="Search for users..." aria-label="Search" class="form-control">
                  <select id="barangayFilter" name="year_level" class="form-control">
                    <option value="">Filter by Year level</option>
                    <option value="First Year">First Year</option>
                    <option value="Second Year">Second Year</option>
                    <option value="Third Year">Third Year</option>
                    <option value="Fourth Year">Fourth Year</option>
                  </select>
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        
<div class="table-responsive pre-reg-on-process-table-container container-fluid">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col" class="smaller-header">First Name</th>
        <th scope="col" class="smaller-header">Last Name</th>
        <th scope="col" class="smaller-header">Year level</th>
        <th scope="col" class="smaller-header">Address</th>
        <th scope="col" class="smaller-header">Email</th>
        <th scope="col" class="smaller-header">School Name</th>
        <th scope="col" class="smaller-header">Contact</th>
        <th scope="col" class="smaller-header text-end text-center">Action</th>


      </tr>
    </thead>
    <tbody>
      <% if (results && results.length > 0) { %>
        <% results.forEach(applicant=> { %>
          <% if (!applicant.code) { %>  
          <tr class="align-middle">
            <td><%= applicant.first_name %></td>  
            <td><%= applicant.last_name %></td>
            <td><%= applicant.year_level %></td>
            <td><%= applicant.barangay %></td>
            <td><%= applicant.email %></td>
            <td><%= applicant.school_name %></td>
            <td><%= applicant.contact_number %></td>
            <td class="text-end small">
              <div class="d-flex flex-row justify-content-end gap-2">
                <!-- View Button -->
                <a href="/admin/admin-pre-reg-view/<%= applicant._id %>" type="button" class="btn alert-primary btn-sm admin-pre-reg-view-btn">
                  <strong>View</strong>
                </a>
                <!-- Inside your EJS template -->
                <form id="confirmationForm-<%= applicant._id %>" action="/admin/generateRandomCode/<%= applicant._id %>" method="POST" enctype="multipart/form-data">
                  <button type="button" class="btn alert-success admin-pre-reg-qualified-btn" data-toggle="modal" data-target="#qualificationModal-<%= applicant._id %>">
                      Qualified
                  </button>
              
                  <!-- Qualification Confirmation Modal -->
                  <div class="modal fade" id="qualificationModal-<%= applicant._id %>" tabindex="-1" role="dialog" aria-labelledby="qualificationModalLabel-<%= applicant._id %>" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="qualificationModalLabel-<%= applicant._id %>">Qualification Confirmation</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body text-center">
                                  Are you sure you want to qualify <br><strong><%= applicant.last_name %></strong>?
                                  
                                  <!-- Text area -->
                                  <div class="form-group mt-3">
                                      <label for="messageInput-<%= applicant._id %>" style="float:left;">Enter a message:</label>
                                      <textarea class="form-control" id="messageInput-<%= applicant._id %>" name="message" rows="5" placeholder="Enter your reason here.." style="clear:both;">Congrats, you are prequalified.</textarea>
                                  </div>

                                  <label for="fileInput-<%= applicant._id %>" style="float:left;">Upload Application form:</label>
                                  <input type="file" class="form-control-file" id="fileInput-<%= applicant._id %>" name="applicationform" accept=".pdf" required >
                                
                                
                              </div>
                              
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                  <button type="submit" class="btn btn btn-success"><strong>Yes</strong></button>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
              
                
            
                <form id="confirmationForm-<%= applicant._id %>" action="/admin/admin-pre-reg-disqualified/<%= applicant._id %>" method="POST">
                  <button type="button" class="btn alert-danger admin-pre-reg-disqualified-btn" data-toggle="modal" data-target="#confirmationModal-<%= applicant._id %>">
                    Disqualified
                  </button>
              
              
              <!-- Confirmation Modal -->
              <div class="modal fade" id="confirmationModal-<%= applicant._id %>" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel-<%= applicant._id %>" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="confirmationModalLabel-<%= applicant._id %>">Confirmation</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body text-center">
                            Are you sure you want to disqualify <br><strong><%= applicant.last_name %></strong>?
                             <!-- Text area -->
                          <div class="form-group mt-3">
                            <label for="messageInput-<%= applicant._id %>" style="float:left;">Enter a message:</label>
                            <textarea class="form-control" id="messageInput-<%= applicant._id %>" name="message" rows="5" placeholder="Enter your reason here.." style="clear:both;">Sorry, you are not the qualified.</textarea>
                          </div>
                        </div>
                        
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                             
                                  <button type="submit" class="btn alert-danger"><strong>Yes</strong></button>
                          </div>
                      </div>
                  </div>
              </div>
            </form>
              </div>
            </td>
          </tr>
        <% } %>
      <% }) %>
      <% } else { %>
        <tr>
          <td colspan="9" class="text-center">No results found.</td>
        </tr>
      <% user.forEach(applicant => { %>
        <% if (!applicant.code) { %>
          <tr class="align-middle">
            <td><%= applicant.first_name %></td>  
            <td><%= applicant.last_name %></td>
            <td><%= applicant.year_level %></td>
            <td><%= applicant.barangay %></td>
            <td><%= applicant.email %></td>
            <td><%= applicant.school_name %></td>
            <td><%= applicant.contact_number %></td>
            <td class="text-end sm">
              <div class="d-flex flex-row justify-content-end gap-2">
                <!-- View Button -->
                <a href="/admin/admin-pre-reg-view/<%= applicant._id %>" type="button" class="btn alert-primary btn-sm admin-pre-reg-view-btn">
                  <strong>View</strong>
                </a>
                <!-- Inside your EJS template -->
                <form id="confirmationForm-<%= applicant._id %>">
                  <button type="button" class="btn alert-success admin-pre-reg-qualified-btn" data-toggle="modal" data-target="#qualificationModal-<%= applicant._id %>">
                    Qualified
                  </button>
                </form>
                
                <!-- Qualification Confirmation Modal -->
                <div class="modal fade" id="qualificationModal-<%= applicant._id %>" tabindex="-1" role="dialog" aria-labelledby="qualificationModalLabel-<%= applicant._id %>" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="qualificationModalLabel-<%= applicant._id %>">Qualification Confirmation</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body text-center">
                            Are you sure you want to qualify <br><strong><%= applicant.last_name %></strong>?
                          </div>
                          
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                              <form action="/admin/generateRandomCode/<%= applicant._id %>" method="POST">
                                  <button type="submit" class="btn btn-applicant alert-success"><strong>Yes</strong></button>
                              </form>
                          </div>
                      </div>
                  </div>
                </div>
                
            
                <form id="confirmationForm-<%= applicant._id %>">
                  <button type="button" class="btn alert-danger admin-pre-reg-disqualified-btn" data-toggle="modal" data-target="#confirmationModal-<%= applicant._id %>">
                    Disqualified
                  </button>
              </form>
              
              <!-- Confirmation Modal -->
              <div class="modal fade" id="confirmationModal-<%= applicant._id %>" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel-<%= applicant._id %>" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="confirmationModalLabel-<%= applicant._id %>">Confirmation</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body text-center">
                            Are you sure you want to disqualify <br><strong><%= applicant.last_name %></strong>?
                        </div>
                        
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                              <form action="/admin/admin-pre-reg-disqualified/<%= applicant._id %>" method="POST">
                                  <button type="submit" class="btn alert-danger"><strong>Yes</strong></button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
            </td>
          </tr>
        <% } %>
      <% }) %>
    </tbody>
  </table>
</div>
<% } %>
<tr>
  
  <% if (user.length > 0) { %>
    <tr>
      <td colspan="3" class="pagination-cell">
        <!-- Pagination information -->
        Displaying <strong><%= (current - 1) * perPage + 1 %> -
        <%= Math.min(current * perPage, count) %> </strong>of <strong><%= count %></strong> users
      </td>
      <!-- Pagination buttons -->
      <td colspan="6" class="pagination-cell">
        <nav aria-label="Dashboard Pagination">
          <ul class="pagination justify-content-end mt-1">
        
            <!-- First page button -->
            <% if (current == 1) { %>
              <li class="page-item disabled">
                <a href="#" class="page-link">First</a>
              </li>
            <% } else { %>
              <li class="page-item">
                <a href="/admin/admin-pre-reg?page=1" class="page-link">First</a>
              </li>
            <% } %>
        
            <!-- Previous page button -->
            <li class="page-item <%= current == 1 ? 'disabled' : '' %>">
              <a href="/admin/admin-pre-reg?page=<%= current - 1 %>" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
        
            <!-- Pagination numbers -->
            <% var start = Math.max(current - 2, 1); %>
            <% var end = Math.min(start + 4, pages); %>
            <% for(var i = start; i <= end; i++ ) { %>
              <li class="page-item <%= current == i ? 'active' : '' %>">
                <a href="/admin/admin-pre-reg?page=<%= i %>" class="page-link"><%= i %></a>
              </li>
            <% } %>
        
            <!-- Next page button -->
            <li class="page-item <%= current == pages ? 'disabled' : '' %>">
              <a href="/admin/admin-pre-reg?page=<%= current + 1 %>" class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
        
            <!-- Last page button -->
            <% if (current == pages) { %>
              <li class="page-item disabled">
                <a href="#" class="page-link">Last</a>
              </li>
            <% } else { %>
              <li class="page-item">
                <a href="/admin/admin-pre-reg?page=<%= pages %>" class="page-link">Last</a>
              </li>
            <% } %>
        
          </ul>
        </nav>
        
      </td>
    </tr>
  <% } %>
  
</tr>



        

<script>
  // Add event listeners to the buttons
  const generateCodeButtons = document.querySelectorAll('.generateCodeButton');
  generateCodeButtons.forEach(button => {
      button.addEventListener('click', (event) => {
          event.preventDefault(); // Prevent the default link behavior
          const Id = button.getAttribute('data-id');
          fetch(`/admin/generateRandomCode/${Id}`, { method: 'POST' })
              .then(response => response.json())
              .then(data => {
                  const randomCodeDisplay = document.getElementById(`randomCodeDisplay-${Id}`);
                  randomCodeDisplay.textContent = `Generated code: ${data.code}`;
              })
              .catch(error => {
                  console.error('Error generating code:', error);
              });
      });
  });
</script>
 
    </div>
  </main>
  