<main>
  <%- include('../partials/adminsidebar') %>
  <link rel="stylesheet" href="/public/css/admin-view.css">
 
  
  <div id="main-wrapper">
    <div class="container-fluid">
      <div class="bg-white admin-create-schedule-header shadow-sm p-3">
        <span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
        <h5 class="m-0 admin-create-schedule-header-text color-theme d-inline-block">On Process Application</h5>
      </div>

        <div class="col py-2 container-fluid"> 
          <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb navbar1 admin-manager-edit-navbar container-fluid">
                      <li class="breadcrumb-item"><a href="/admin/admin-form-onprocess-disqualified">Back</a></li>
                    </ol>
                  </div>
                </div>
              </div>
          
          <!-- Modal -->
          <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="fileModalLabel">Requirements</h5>
                  
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <% if (disqualified.certificate_of_registration) { %>
                    <iframe src="/files/<%=disqualified.certificate_of_registration %>" style="width: 100%; height: 100vh;"></iframe>
                <% } %>
                
                <% if (disqualified.application_form) { %>
                    <iframe src="/files/<%=disqualified.application_form %>" style="width: 100%; height: 100vh;"></iframe>
                <% } %>
                
                <% if (disqualified.grades) { %>
                    <iframe src="/files/<%=disqualified.grades %>" style="width: 100%; height: 100vh;"></iframe>
                <% } %>
                
                <% if (disqualified.school_id) { %>
                    <iframe src="/files/<%=disqualified.school_id %>" style="width: 100%; height: 100vh;"></iframe>
                <% } %>
                
                <% if (disqualified.voters_id) { %>
                    <iframe src="/files/<%=disqualified.voters_id %>" style="width: 100%; height: 100vh;"></iframe>
                <% } %>
                
                <% if (disqualified.proof_of_payment) { %>
                    <iframe src="/files/<%=disqualified.proof_of_payment %>" style="width: 100%; height: 100vh;"></iframe>
                <% } %>
                
                <% if (disqualified.barangay_id) { %>
                    <iframe src="/files/<%=disqualified.barangay_id %>" style="width: 100%; height: 100vh;"></iframe>
                <% } %>
                
                <% if (disqualified.certificate_of_good_moral) { %>
                    <iframe src="/files/<%=disqualified.certificate_of_good_moral %>" style="width: 100%; height: 100vh;"></iframe>
                <% } %>
                
                <% if (disqualified.certificate_of_ladderized_course) { %>
                    <iframe src="/files/<%=disqualified.certificate_of_ladderized_course %>" style="width: 100%; height: 100vh;"></iframe>
                <% } %>
                
                <% if (disqualified.affidavit_of_guardianship) { %>
                    <iframe src="/files/<%=disqualified.affidavit_of_guardianship %>" style="width: 100%; height: 100vh;"></iframe>
                <% } %>
                
                <% if (disqualified.affidavit_of_support) { %>
                    <iframe src="/files/<%=disqualified.affidavit_of_support %>" style="width: 100%; height: 100vh;"></iframe>
                <% } %>
                
                <% if (disqualified.cswd_document) { %>
                    <iframe src="/files/<%=disqualified.cswd_document %>" style="width: 100%; height: 100vh;"></iframe>
                <% } %>
                </div>
              </div>
            </div>
          </div>
          
          
            </div>
      </div>







<div class="container col-md-10 application-form-container">

            <div class="row align-items-center profile-form-header">
              <div class="col-md-2 text-center">
                <div class="user-icon position-relative" id="profile-picture">
                  <input type="file" id="upload" class="position-absolute top-0 start-0 w-100 h-100 opacity-0 cursor-pointer">
                 
                    <i class="bi bi-person-fill" style="font-size: 9rem; color:white;"></i>
                 
                </div>
                
              </div>
              <div class="col-md-8 user-name-con">
                <h1 class="user-name"><%= disqualified.first_name %> <%= disqualified.middle_name %> <%= disqualified.last_name %> <%= disqualified.suffix %></h1>
                <!-- New div for Gmail information -->
                <div class="user-info"></i><%= disqualified.email %> <i class="bi bi-envelope-fill"></i></div>
              </div>
            </div>


   
      
          <div class="row data">
            <div class="col-md-12">
              <h1 class="personal-information1">Personal Information</h1>
            </div>

            
            <div class="col-md-5">
                <h1 class="inform-title">Primary Cellphone Number:</h1><span class="subinfo"><%= disqualified.primary_cellphone %></span>
            </div>
      

            <div class="col-md-5">
              <h1 class="inform-title">Alternative Cellphone Number:</h1><span class="subinfo"><%= disqualified.secondary_cellphone %></span>
            </div>

            <div class="col-md-2">
              <h1 class="inform-title">Barangay:</h1> <span class="subinfo"><%= disqualified.barangay %></span>
            </div>

            <div class="col-md-12 d-flex justify-content-center ">
              <button class="btn btn-primary view-file-btn btn-sm" data-toggle="modal" class="view-file-btn" data-target="#fileModal">View Requirements</button>
            </div>
          </div>
          
            

        

            
          
            
        
           
         

        
    </div>
  </div>



    </main>