<main>
  <%- include('../partials/adminsidebar') %>
  <div id="main-wrapper">
    <link rel="stylesheet" href="/public/css/admin-user-list-table.css">
    <div class="container-fluid">
      
      <div class="bg-white admin-user-account-header shadow-sm p-3">
				<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
				<h5 class="m-0 color-theme admin-user-account-header-text d-inline-block">Users</h5>
			</div>

      <div class="applicant-table-list-sub-header alert-info">
        <div class="row">
          <div class="col-md-4">
            <h1 class="pre-reg-on-process-sub-header-text">User List</h1>
          </div>
          <div class="col-md-8">
            <form id="searchForm" action="/admin/user" method="GET" class="text-right">
              <div class="input-group">
                <input type="text" id="searchInput" class="user-search form-control" name="query" placeholder="Search for users..." aria-label="Search">
                <select class="barangay-search form-control" id="barangayFilter" name="barangay">
                  <option value="">Filter by Barangay</option>
                  <optgroup label="District 1">
                    <option value="Baclaran">Baclaran</option>
                    <option value="Don Galo">Don Galo</option>
                    <option value="La Huerta">La Huerta</option>
                    <option value="San Donisio">San Donisio</option>
                    <option value="San Isidro">San Isidro</option>
                    <option value="Santo Niño">Santo Niño</option>
                    <option value="Tambo">Tambo</option>
                    <option value="Vitalez">Vitalez</option>
                  </optgroup>
                  <optgroup label="District 2">
                    <option value="B.F Homes">B.F Homes</option>
                    <option value="Don Bosco">Don Bosco</option>
                    <option value="Marcelo Green">Marcelo Green</option>
                    <option value="Merville">Merville</option>
                    <option value="Moonwalk">Moonwalk</option>
                    <option value="San Antonio">San Antonio</option>
                    <option value="San Martin De Porres">San Martin De Porres</option>
                    <option value="San Valley">San Valley</option>
                  </optgroup>
                  <!-- Add other barangay options if needed -->
                </select>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      
        <!-- Search Form -->
       
        
      
      
      </div>

    
      
      <!-- Display the list of admin users in a responsive table -->
      <div class="table-responsive admin-manager-table-container container-fluid">
        <table class="table table-sm">
          <thead>
            <div class="d-flex align-items-center"> <!-- Flex container -->
              <!-- Checkbox to select all -->
              <input type="checkbox" id="select-all-checkbox" onchange="selectAllUser()" class="me-2">
              <label class="form-check-label" for="flexCheckDisabled">
                Select All
              </label>
              <!-- Button to delete selected records -->
              <button type="button" id="delete-selected-button" class="btn btn-outline-dark d-none" onclick="deleteSelectedUser()">
                  <i class="bi bi-trash"></i>
              </button>
          </div> 
            <tr>
              <th scope="col">
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Course</th>
              <th scope="col">Barangay</th>
              <th scope="col">School</th>
              <th scope="col">Applicant Status</th>
              <!-- Add other columns as needed -->
              <th scope="col" class="text-end">Action</th>
            </tr>
          </thead>
          <tbody>
            <% if (results && results.length > 0) { %>
              <% results.forEach((user, index) => { %>
                <tr class="align-middle">
                  <td><input type="checkbox" id="delete-checkbox-<%= user._id %>" class="delete-checkbox" onchange="updateDeleteButtonVisibility()"></td>
                  <td><%= index + 1 %></td>
                  <td><%= user.first_name %></td>
                  <td><%= user.last_name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.course %></td>
                  <td><%= user.barangaySelect%></td>
                  <td><%= user.schoolName%></td>
                  <td><%= user.category === 'old-applicant' ? 'old' : 'new' %></td>
                  <td class="text-end">
                    <div class="d-flex flex-row justify-content-end gap-2">
                      <a href="/admin/user-view/<%= user._id %>" type="button" class="btn btn-outline-dark btn-view">
                        <i class="bi bi-eye bi-sm"></i>
                      </a>
                      <a href="/admin/user-edit/<%= user._id %>" type="button" class="btn btn-outline-dark btn-edit">
                        <i class="bi bi-pencil-square"></i>
                      </a>
                      <form id="delete-user-form-<%= user._id %>" action="/admin/user-delete/<%= user._id %>?_method=DELETE" method="POST" class="position-relative">
                        <button type="button" id="delete-manage-button-<%= user._id %>" class ="btn btn-outline-dark btn-delete"  data-bs-toggle="modal" data-bs-target="#confirmation-modal-<%= user._id %>">
                          <i class="bi bi-trash"></i>
                        </button>
                      </form>
                      <div class="modal" id="confirmation-modal-<%= user._id %>" tabindex="-1" aria-labelledby="confirmation-modal-label" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title text-dark" id="confirmation-modal-label">Confirm Deletion</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-dark text-center">
                              <p>Are you sure you want to delete the record of <strong><%= user.first_name %></strong>?</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-delete-button">Cancel</button>
                              <button type="button" class="btn btn-danger" onclick="deleteUser('<%= user._id %>')">Confirm</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              <% }) %>
            <% } else { %>
              <tr>
                <td colspan="9" class="text-center">No results found.</td>
              </tr>
              
              <% user.forEach(user => { %>
                <tr class="align-middle">
                  <!-- Ensure that the checkboxes have correct IDs -->
                  <td><input type="checkbox" id="delete-checkbox-<%= user._id %>" class="delete-checkbox" onchange="updateDeleteButtonVisibility()"></td>
                  <td><%= user.first_name %></td>
                  <td><%= user.last_name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.course %></td>
                  <td><%= user.barangaySelect%></td>
                  <td><%= user.schoolName%></td>
                  <td><%= user.category === 'old-applicant' ? 'old' : 'new' %></td>
                  <td class="text-end">
                    <div class="d-flex flex-row justify-content-end gap-2">
                      <a href="/admin/user-view/<%= user._id %>" type="button" class="btn btn-outline-dark">
                        <i class="bi bi-eye bi-sm"></i>
                      </a>
                      <a href="/admin/user-edit/<%= user._id %>" type="button" class="btn btn-outline-dark">
                        <i class="bi bi-pencil-square"></i>
                      </a>
                      <form id="delete-user-form-<%= user._id %>" action="/admin/user-delete/<%= user._id %>?_method=DELETE" method="POST" class="position-relative">
                        <button type="button" id="delete-manage-button-<%= user._id %>" class ="btn btn-outline-dark"  data-bs-toggle="modal" data-bs-target="#confirmation-modal-<%= user._id %>">
                          <i class="bi bi-trash"></i>
                        </button>
                      </form>
                      <div class="modal" id="confirmation-modal-<%= user._id %>" tabindex="-1" aria-labelledby="confirmation-modal-label" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title text-dark" id="confirmation-modal-label">Confirm Deletion</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-dark text-center">
                              <p>Are you sure you want to delete the record of <strong><%= user.first_name %></strong>?</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-delete-button">Cancel</button>
                              <button type="button" class="btn btn-danger" onclick="deleteUser('<%= user._id %>')">Confirm</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                     
                  
                  </div>
                </td>
                
              </tr>
              
            <% }) %>
            
          
          </tbody>
          
          
        </table>
        
        
      </div>
      

      <% } %>
      <tr>
        
        <% if (user.length > 0) { %>
          <tr>
            <td colspan="3" class="pagination-cell">
              <!-- Pagination information -->
              Displaying <strong><%= (current - 1) * perPage + 1 %> -
              <%= Math.min(current * perPage, count) %> </strong>of <strong><%= count %></strong> users
            </td>
            <!-- Pagination buttons -->
            <td colspan="6" class="pagination-cell">
              <nav aria-label="Dashboard Pagination">
                <ul class="pagination justify-content-end mt-1">
              
                  <!-- First page button -->
                  <% if (current == 1) { %>
                    <li class="page-item disabled">
                      <a href="#" class="page-link">First</a>
                    </li>
                  <% } else { %>
                    <li class="page-item">
                      <a href="/admin/user?page=1" class="page-link">First</a>
                    </li>
                  <% } %>
              
                  <!-- Previous page button -->
                  <li class="page-item <%= current == 1 ? 'disabled' : '' %>">
                    <a href="/admin/user?page=<%= current - 1 %>" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
              
                  <!-- Pagination numbers -->
                  <% var start = Math.max(current - 2, 1); %>
                  <% var end = Math.min(start + 4, pages); %>
                  <% for(var i = start; i <= end; i++ ) { %>
                    <li class="page-item <%= current == i ? 'active' : '' %>">
                      <a href="/admin/user?page=<%= i %>" class="page-link"><%= i %></a>
                    </li>
                  <% } %>
              
                  <!-- Next page button -->
                  <li class="page-item <%= current == pages ? 'disabled' : '' %>">
                    <a href="/admin/user?page=<%= current + 1 %>" class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
              
                  <!-- Last page button -->
                  <% if (current == pages) { %>
                    <li class="page-item disabled">
                      <a href="#" class="page-link">Last</a>
                    </li>
                  <% } else { %>
                    <li class="page-item">
                      <a href="/admin/user?page=<%= pages %>" class="page-link">Last</a>
                    </li>
                  <% } %>
              
                </ul>
              </nav>
              
            </td>
          </tr>
        <% } %>
        
      </tr>

      
    
    </div>
    
     
     <!-- Form for deleting selected records -->
     <form id="deleteForm" action="/admin/delete-form-user" method="POST">
      <!-- Hidden input field to store IDs of selected records -->
      <input type="hidden" name="ids" id="idsToDelete" value="">
      
  </form>
  
  <script>
    // JavaScript to handle the deletion
    function deleteUser(userId) {
        const deleteUserForm = document.getElementById('delete-user-form-' + userId);
        // You can perform additional actions or submit the form here if needed.
        deleteUserForm.submit();
    }
</script> 
  <script>
          function selectAllUser() {
          const checkboxes = document.querySelectorAll('.delete-checkbox');
          const selectAllCheckbox = document.getElementById('select-all-checkbox');
          const deleteButton = document.getElementById('delete-selected-button');

          // If the "Select All" checkbox is checked, update the state of individual checkboxes accordingly
          checkboxes.forEach(checkbox => {
              checkbox.checked = selectAllCheckbox.checked;
          });

          // Check if any checkbox is selected
          const anyCheckboxSelected = [...checkboxes].some(checkbox => checkbox.checked);

          // Toggle visibility of the delete button based on the checkbox state
          deleteButton.classList.toggle('d-none', !anyCheckboxSelected);
      }
      function updateDeleteButtonVisibility() {
          const checkboxes = document.querySelectorAll('.delete-checkbox');
          const deleteButton = document.getElementById('delete-selected-button');

          // Check if any checkbox is selected
          const anyCheckboxSelected = [...checkboxes].some(checkbox => checkbox.checked);

          // Toggle visibility of the delete button based on the checkbox state
          deleteButton.classList.toggle('d-none', !anyCheckboxSelected);
      }


</script>
<script>
function deleteSelectedUser() {
  const checkboxes = document.querySelectorAll('.delete-checkbox:checked');
  const userIds = Array.from(checkboxes).map(checkbox => checkbox.id.split('-')[2]);
  // Set the value of the hidden input field with the IDs to delete
  document.getElementById('idsToDelete').value = userIds.join(',');
  // Submit the form
  document.getElementById('deleteForm').submit();
  
}
</script>
 

</main>

